# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#svngit:
.svn
.git


#ide:
.idea/*


#log:
*.log

#test/*.json
dist/*
node_modules
node_modules/*
*.rar
*.zip
*.7z
uploads/*
uploads_/*

map.json
gulpfile.js