#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-wrapper {
      width: 80%;
      box-sizing: border-box;
      min-height: 100px;
      background-color: #fff;
      -webkit-border-radius: 3%;
      -moz-border-radius: 3%;
      border-radius: 3%;
      padding: 2rem;
    }
  }
  .top-bg-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    z-index: -1;
    .top-bg {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .logo-slogan-wrapper {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    .logo {
      max-width: 100%;
    }
  }
  .phone-wrapper {
    width: 60%;
    .phone {
      max-width: 100%;
    }
  }
  .download-button-wrapper {
    width: 40%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2rem;
    .download-button {
      width: 100%;
    }
  }
  .wave {
    height: 4%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../common/images/footer-wave.png") no-repeat;
    background-size: cover;
  }
}

[v-cloak] {
  opacity: 0;
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 768px) {
  #app {
    //display: none;
    .logo-slogan-wrapper {
      margin-top: 15%;
      width: 40%;
    }
    .phone-wrapper {
      width: 65%;
    }
    .download-button-wrapper {
      width: 30%;
      top: -2rem;
    }
  }
}

//ipad pro尺寸
//纵向
@media screen and (min-width: 1024px) and (min-height: 1366px){
  #app {
    .logo-slogan-wrapper {
      margin-top: 15%;
      width: 40%;
    }
    .phone-wrapper {
      width: 65%;
    }
    .download-button-wrapper {
      width: 30%;
      top: -2rem;
    }
  }
}
//横向
@media screen and (min-width: 1366px) and (min-height: 1024px){
  #app {
    .logo-slogan-wrapper {
      margin-top: 5%;
      width: 30%;
    }
    .phone-wrapper {
      width: 30%;
    }
    .download-button-wrapper {
      width: 20%;
    }
  }
}

@media screen and (min-width: 1024px) and (max-height: 768px) {
  #app {
    //display: none;
    .logo-slogan-wrapper {
      margin-top: 5%;
      width: 30%;
    }
    .phone-wrapper {
      width: 30%;
    }
    .download-button-wrapper {
      width: 20%;
    }
  }
}
