.main {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 3.4rem;
  right: 0.5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}